<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- 开启微软官方在线源 -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

		<!-- 【核心魔法】：添加 NatsROS 本地私有离线源！ -->
		<add key="NatsROS Local SDK" value=".\Deploy_Build\SDK_Packages" />
	</packageSources>
</configuration>