<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<!-- 定义输出目标 -->
	<targets>
		<!-- 本地文件日志：按天滚动，存放在 logs 目录下 -->
		<target xsi:type="File" name="fileTarget"
				fileName="${basedir}/logs/natsros-${shortdate}.log"
				layout="【${longdate}】【${level:uppercase=true:padding=-5}】【${logger:padding=-40}】:${message} ${exception:format=tostring}" />

		<!-- 彩色控制台输出 -->
		<target xsi:type="ColoredConsole" name="consoleTarget"
				layout="【${time}】【${level:uppercase=true:padding=-5}】【${logger:padding=-40}】: ${message}" />
	</targets>

	<!-- 定义路由规则 -->
	<rules>
		<!-- 我们之前在 appsettings.json 里设置了 NatsROS.Examples 是 Debug 级别 -->
		<!-- 所以这里捕获 Debug 及以上的所有日志，同时写文件和打屏幕 -->
		<logger name="*" minlevel="Debug" writeTo="fileTarget,consoleTarget" />
	</rules>
</nlog>
